body{
  background-color: #9BC9AC;
}

table {
  width: 100%;
  height: 100%;
}

.outter-box {
  border-radius: 25px;
  background-color: #14748F;
}

.top-bar {
  background-color: #020B26;
}

.side-bar {
  background-color: #020B26;
}

.menu-text{
  color: white;
  text-align: center;
}

.menu-text-left {
  color: white;
  padding-left: 1em;
}

#quiz-answers {
  border: 5px solid;
  font-size: 2em;
}

#quiz-count{
  font-size: 3em;
  text-align: center;
}
