body, html {
    margin: 0;
}

body{
  background-color: white;
}

table {
  width: 100%;
  height: 100%;
}

.outter-box {
  border-radius: 25px;
  background-color: #14748F;
  display: inline-block;
}

.top-bar {
  background-color: #020B26;
}

.side-bar {
  background-color: #020B26;
  display: inline-block;
  float: left;
}

.menu-text{
  color: white;
  text-align: center;
}

.menu-text-left {
  color: white;
  padding-left: 1em;
}

#welcome-message {
  font-size: 2em;
}

#quiz-block {
  display: block;
  float: left;
  width: 100%
}

#quiz-answers {
  border: 5px solid;
  font-size: 1.3em;
  width: 100%

}

#quiz-count{
  font-size: 3em;
  text-align: center;
  background-color: darkgrey;
}

#page-box {
  background-color: grey;
  width: 100%
}

#navigation {
  background-color: #020B26;
  border: 0;
  width: 100%;
  position: fixed;
  padding: 10px;
}
.navigation-text {
  color: white;
  display: inline;
  margin: 10px;
  font-size: 1.2em;
}

.navigation-text a {
  text-decoration: none;
  color: white;
}

.navigation-text a:hover {
  color: red;
}

#columns {
  display: inline;
  float: left;
  background-color: darkgrey;
  width: 100%;
}

#about-me {
  display: block;
  float: left;
  background-color: darkgrey;
  border: 2px solid black;
  font-size: 1.1em;
  width: 100%
}

#introduction {
  display: block;
  width: 100%;
  float: left;
  margin: 45px 0px 0px 0px;
  background-color: lightgrey;
  padding: 5px 0px 0px 10px
}
