body{
  background-color: #9BC9AC;
}

table {
  width: 100%;
  height: 100%
}

td {
  padding-left: 5em;
}

.outter-box {
  border-radius: 25px;
  background-color: #14748F
}

.side-bar {
  background-color: #020B26;
}

.menu-text{
  color: white;
  text-align: center;
}

.menu-text-left {
  color: white;
}

#quiz-answers {
  border: 5px solid;
  font-size: 2em;
}
